<form method="post" action="{{ path('app_fiche_suivi_delete', {'idFiche': fiche_suivi.idFiche}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche_suivi.idFiche) }}">
    <button class="btn">Delete</button>
</form>
