{% extends 'front.html.twig' %}

{% block title %}New Bilan{% endblock %}

{% block body %}
    <h1>Créer un nouveau Bilan</h1>

    {{ include('bilan/_form.html.twig') }}

    <a href="{{ path('app_bilan_index') }}">retour </a>
{% endblock %}
