{% extends 'front.html.twig' %}

{% block title %}Liste des medecins{% endblock %}

{% block body %}
    <section class="section doctors">

        <div class="row shuffle-wrapper portfolio-gallery">
            {% for medecin in medecins %}
                <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">

                    <div class="position-relative doctor-inner-box">
                        <div class="card" style="width: 200px;">
                            <img src="{{ medecin.photoMed }}" class="card-img-top" alt="..." height="200px" width="200px">
                            <div class="card-body">
                                <h5 class="card-title">{{ medecin.nomMed }}  {{ medecin.prenomMed }}</h5>
                                <p class="card-text"> {{ medecin.speciatilte }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}
