{% extends 'front.html.twig' %}

{% block title %}New Intervention{% endblock %}

{% block body %}
<div style="margin-left:30%">
    <h1 >Create new Intervention</h1>

    {{ include('intervention/_form.html.twig') }}
<button type="button" class="btn btn-primary"> <a href="{{ path('app_intervention_index') }}"  >back to list</a></button>
   </div>

{% endblock %}
